extends layout.pug

block content
    div
        h1=`Title: ${bookInfo.name}`
    div
        p=`Description: ${bookInfo.description}`
    div
        p=`Release Date: ${bookInfo.releaseDate}`
    div
        p=`Page Count: ${bookInfo.pageCount}`
    div
        each author in bookInfo.Authors
            p=`Authors: ${author.name}`
    div
        p=`Publisher Name: ${bookInfo.Publisher.name}`
    div
        each genre in bookInfo.Genres
            p=`Genres: ${genre.name}`
