extends layout.pug


block content
    div(class="bookshelf-container")
        div(class="sidebar")
            ul
                li all
                    a(href= "/bookshelf")
                        button button
                li unread
                    a(href= "/bookshelf/wantToRead")
                        button button
                li currently reading
                    a(href= "/bookshelf/reading")
                        button button
                li read
                    a(href= "/bookshelf/haveRead")
                        button button
            //- each book in status
            //- ul
            //-     li
            //-     li
            //-     li
            //-     li

        div(class="main-page")
            table
                thead
                    th title
                    th status
                    th rating
                    th review
                tbody
                    each book in userBookInfo.Books
                        if book.UserBook.status === bookStatus
                            tr
                                td=book.name
                                td=book.UserBook.status
                                td=book.UserBook.rating
                                td=book.UserBook.review
                        else if bookStatus === undefined
                            tr
                                td=book.name
                                td=book.UserBook.status
                                td=book.UserBook.rating
                                td=book.UserBook.review
