extends layout.pug


block content
    section(class="content-window")
        div(class="bookshelf-container")
            div(class="sidebar")
                ul(id="statusContainer")
                    li
                        a(href= "/bookshelf",class="status" )
                            button all
                    li
                        a(href= "/bookshelf/wantToRead",class="status")
                            button unread
                    li
                        a(href= "/bookshelf/reading",class="status")
                            button currently reading
                    li
                        a(href= "/bookshelf/haveRead",class="status")
                            button read


            section(class="main-pagez")
                div(class= "bookshelftable")
                    div(class= "bookshelfColumns")
                        div delete
                        div image
                        div title
                        div rating
                        div review
                    div(class="bsscontainer")
                        each book in userBookInfo.Books
                            if book.UserBook.status === bookStatus
                                div(class= "bookshelfrow")
                                    div
                                        form(action=`/bookshelf/${book.id}/delete` method="post")
                                            input(type="submit" value="delete")
                                    div
                                        img(src=`../stylesheets/images/book-covers/${book.id}.png` class="book-cover")
                                    h1
                                        a(href=`/book/${book.id}`)= book.name
                                    p=book.UserBook.rating
                                    p=book.UserBook.review
                            else if bookStatus === undefined
                                div(class= "bookshelfrow")
                                    div
                                        form(action=`/bookshelf/${book.id}/delete` method="post")
                                            input(type="submit" value="delete")
                                    div
                                        img(src=`../stylesheets/images/book-covers/${book.id}.png` class="book-cover")
                                    h1
                                        a(href=`/book/${book.id}`)= book.name
                                    p=book.UserBook.rating
                                    p=book.UserBook.review
